<div class="register">
<div class="col-md-8 m-auto">
  <div class="register-title">
  REGISTER
  </div>
  <div class="row">
  <%- include('partials/messages'); -%>
  </div>
  <div class="card card-body register-card">
    <form action="/register" id="form-register" method="POST">
    <div class="row">
    <div class="register-left">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="name"
          id="name"
          name="name"
          class="form-control"
          placeholder="Enter Name"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="address"
          id="address"
          name="address"
          class="form-control"
          placeholder="Address"
          value="<%= typeof address != 'undefined' ? address : '' %>"
        />
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input
          type="role"
          id="role"
          name="role"
          class="form-control"
          placeholder="Role"
          value="<%= typeof role != 'undefined' ? role : '' %>"
        />
      </div>
    </div>
    <div class="register-right">
      <div class="form-group">
        <label for="organisation">Organisation name</label>
        <input
          type="organisation"
          id="organisation"
          name="organisation"
          class="form-control"
          placeholder="Organisation"
          value="<%= typeof organisation != 'undefined' ? organisation : '' %>"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Create Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          placeholder="Confirm Password"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block custom-btn">
        Register
      </button>
      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
    <div>
    <form>
  </div>
</div>
</div>
